<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.BlogMapper">

	<select id="custList" resultType="mybatis.com.ict.edu.VO">
        select * from customer order by custid
    </select>

   <insert id="custIns" parameterType="mybatis.com.ict.edu.VO">
        insert into customer(custid, name, address, phone)
        values(customer_seq.nextval,#{name},#{address},#{phone})
    </insert>
    
    <delete id="custDle" parameterType="mybatis.com.ict.edu.VO">
    	delete from customer where custid = #{custid}
    </delete>
   
    <select id = "custOne" parameterType="String" resultType="mybatis.com.ict.edu.VO">
        select * from customer where custid = #{custid}
    </select>
    
    <update id="custUpdate" parameterType="mybatis.com.ict.edu.VO">
    	update customer set name=#{name}, address=#{address},phone=#{phone}
    	where custid = #{custid}
    </update>
</mapper>
    
    